*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px /16px = 62.5% -> 1rem = 10px
}

body {
  min-height: 100vh;
}

.body-wrapper {
  background-color: $clr-black;
  background-image: url(/assets/images/pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 84vw 67.5vw;

  display: grid;
  @include grid;

  // column-gap: 3rem;

  position: relative;
  overflow-x: hidden;
}

.main {
  @include center-start;
  display: grid;
  grid-template-rows: min-content;
  row-gap: 8rem;
  padding-bottom: 8rem;
}
