*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px /16px = 62.5% -> 1rem = 10px
}

body {
  min-height: 100vh;
  background-color: $clr-black;

  display: grid;
  grid-template-columns:
    [full-start] minmax(1.6rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 9.25rem) [col-end]
    )
    [center-end] minmax(1.6rem, 1fr) [full-end];

  // column-gap: 3rem;

  position: relative;
  overflow-x: hidden;
}

.main {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-rows: min-content;
  row-gap: 8rem;
}
