.header {
  @include center-start;
  display: flex;
  flex-direction: column;
  height: 9.2rem;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &__logo {
    color: $clr-white;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
    letter-spacing: -0.033rem;
  }

  &__social-box {
    display: flex;
    align-items: center;
    gap: 2.467rem;
  }

  &__social-link {
    text-decoration: none;
  }
  &__social-svg {
    width: 2rem;
    height: 2rem;
  }

  &__social-logo {
    // height: 1.92rem;
    @include transition;
  }

  &__social-link:hover .header__social-svg .header__social-logo,
  &__social-link:active .header__social-svg .header__social-logo {
    fill: $clr-green;
  }
}
